.c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle {
    color: #343a40;
    background: transparent;
    font-size: 13px;
    padding: 2px 10px;
    
}

/* .c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover{
    background-color: #3f6ad8;
    font-weight: 600;
} */

.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    color: #343a40;
    font-weight: 600;
}
.c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-toggle {
    color: #343a40;
}
/* .c-sidebar .c-sidebar-dark .c-sidebar-show .c-sidebar-fixed{
  background-color: white;
} */
.link-sidebar:hover{
  background-color: #3f6ad8!important;

}