body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    /* height: 30%; */
    width: 100%;
}
.main{
    /* overflow-y:hidden ; */
    /* height: 50vh; */
    padding: 1rem;
}

@media only screen  and (max-width: 1000px){
    .slide-main{
        display: none;
    }
    .login-main{
        width: 100vw;
    }
}