body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cap-b{
    margin-bottom: 270px;
    color: #fff;
    z-index: 33;
}

.mask-cover{
    width: 100%;
    height: 800px;
    /* mask-image: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.7),
        rgba(91, 14, 214, 0.7) 100%
      ); */
      background-image: linear-gradient(to right, #434343 0%, black 100%) !important
    /* mask-image:rgba(29, 236, 197, 0.7);   */
}
.bg-premium-dark {
    background-image: linear-gradient(to right, #434343 0%, black 100%) !important
}


.carousel-indicators > li{
    width:13px;
    height: 13px;
    border-radius: 50%;
    margin-bottom: 80px;
}
