.custom-btn{
    display: flex;
    justify-content: flex-end;
}
.seeBtn{
    border-width:1px solid;
    background-color: transparent;
    border: 1px solid black;
}
.newDate{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 20px;
   font-size: 30px ;
}